@charset "UTF-8";
/* CSS Document */




.contain{
	margin: 10%;
}

div{
	display: block;
}
section {
	clear: both;
	color: #000;
}
.logo img{
	width: 50%;
}
li{
	color: #000;
}
.page {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background: #f1f2f2; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #f1f2f2, #d1d3d4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #f1f2f2, #d1d3d4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #f1f2f2, #d1d3d4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #f1f2f2, #d1d3d4); /* Standard syntax */
}

.floor {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30%;
	background: #d1d3d4; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #d1d3d4, #f1f2f2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #d1d3d4, #f1f2f2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #d1d3d4, #f1f2f2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #d1d3d4, #f1f2f2); /* Standard syntax */
}


.floor img{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
}
/*@media screen and (max-width: 851px) {
		.rmm {
			width: 200px;
			top: 18px;
			margin-bottom: 8px
		}
		.rmm ul {
			position: initial;
		}
}

@media screen and (max-width: 508px) {
		.rmm {
			width: 200px;
			top: 8px;
			margin-bottom: 0px
		}
		
}*/



