@charset "UTF-8";
/* CSS Document */

.contain{
	margin: 5% 10%;
}

div{
	display: block;
}
section {
	clear: both;
	color: #000;
}
.logo img{
	width: 50%;
	max-width: 340px;
}
a h1 {
	font-size: 0;
}

a {
	color: #4599ff;
	text-decoration: none;
}
.page {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image : url("../img/background-stuff.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #e5e5e5;
}
.information {
	width: 50%;
}
#stuff {
	display: block;
	float: right;
	width: 30%;
}

@media screen and (max-width: 640px){
	#stuff, .information {
	width: 80%;
}
}
/*@media screen and (max-width: 851px) {
		.rmm {
			width: 200px;
			top: 18px;
			margin-bottom: 8px
		}
		.rmm ul {
			position: initial;
		}
}

@media screen and (max-width: 508px) {
		.rmm {
			width: 200px;
			top: 8px;
			margin-bottom: 0px
		}
		
}*/



